@import "bootstrap-sprockets";
@import "bootstrap";

img.small-cover {
    width: 200px;
    height: 300px;
}

div.inline {
    display: inline-block;
    vertical-align: text-top;
}

div.song-item {
   margin-top: 14px;

   .cover {
      margin-right: 10px;
   }

   .details {
      width: 400px;
   }
}
img.cover {
    width: 400px;
    height: 600px;
}

div#main {
   margin: 100px;
}

.btn {
   margin: 4px;
}
